version: '2'
services:
  cloudflare-ddns:
    image: oznu/cloudflare-ddns:latest
    restart: always
    environment:
      - API_KEY_FILE=/run/secrets/cf_dns_api_token
      - ZONE={{ apps_domainname }}
      - PROXIED=true
    secrets:
      - cf_dns_api_token


secrets:
  cf_dns_api_token:
    file: {{ apps_dockerdir }}/secrets/cf_dns_api_token