---
- name: Test Docker and Traefik roles
  hosts: all
  become: true
  remote_user: "{{ bootstrap_admin_user }}"
  vars_files:
    - group_vars/all/vars.yml
    - group_vars/all/vault.yml

  roles:
    - role: ansible-role-setup
      tags: setup
    - role: geerlingguy.docker
      tags: docker
    - role: geerlingguy.pip
      tags: docker
    - role: ansible-role-apps
      tags: apps
    - role: ansible-role-backup
      tags: backup