http:
  middlewares:
    chain-internal-authentik:
      chain:
        middlewares:
          - middlewares-ip-whitelist
          - middlewares-rate-limit
          - middlewares-secure-headers
          - middlewares-authentik