services:
  db:
    container_name: nextcloud-db
    image: mariadb:10.6
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - $DOCKERDIR/appdata/nextcloud/config:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=$nextcloud_db_root_password
      - MYSQL_PASSWORD=$nextcloud_db_password
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    networks:
      - nextcloud

  app:
    container_name: nextcloud-app
    image: nextcloud
    restart: always
    ports:
      - 8080:80
    links:
      - db
    volumes:
      - $DOCKERDIR/appdata/nextcloud/data:/var/www/html
    environment:
      - MYSQL_PASSWORD=$nextcloud_db_password
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db
    labels:
      - "traefik.enable=true"

      # HTTP Router
      - "traefik.http.routers.nextcloud-rtr.entrypoints=websecure"
      - "traefik.http.routers.nextcloud-rtr.rule=Host(`nextcloud.${DOMAINNAME_1}`)"
      - "traefik.http.routers.nextcloud-rtr.tls=true"
      - "traefik.http.routers.nextcloud-rtr.tls.certresolver=dns-cloudflare"

      # Middleware (external auth chain)
      - "traefik.http.routers.nextcloud-rtr.middlewares=chain-external-authentik@file"

      # Service
      - "traefik.http.routers.nextcloud-rtr.service=nextcloud-svc"
      - "traefik.http.services.nextcloud-svc.loadbalancer.server.port=80"
    networks:
      - nextcloud
      - t3_proxy


networks:
  nextcloud:
    driver: bridge
  t3_proxy:
    external: true